[submodule "Dash/deps/spdlog"]
	path = Dash/deps/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Dash/deps/GLFW"]
	path = Dash/deps/GLFW
	url = https://github.com/Riku32/glfw.git
[submodule "Dash/deps/imgui"]
	path = Dash/deps/imgui
	url = https://github.com/Riku32/imgui.git
